In [1]:
import numpy as np
import pandas as pd

In [2]:
asian_data = pd.read_csv("./asiansubgroupdata/2015asiansubgroupdataset.csv", dtype = {"FIPS": str})

In [3]:
asian_data.head(3)

,GEO_ID,FIPS,POPGROUP,POPGROUP_LABEL,NAME,B01003_001E,B01003_001M
0,id,NaN,Race/Ethnic Group,Population Groups,Geographic Area Name,Estimate!!Total,Margin of Error!!Total
1,0400000US01,01,13,Asian Indian alone (400-401),Alabama,11915,1242
2,0400000US02,02,13,Asian Indian alone (400-401),Alaska,856,298

In [28]:
asian_fips_codes = asian_data["FIPS"]

In [29]:
asian_fips_codes

0       NaN
1        01
2        02
3        04
4        05
       ...
6913    NaN
6914    NaN
6915    NaN
6916    NaN
6917    NaN
Name: FIPS, Length: 6918, dtype: object