In [179]:
%reload_ext autoreload
%autoreload 2

import numpy as np
import pandas as pd
import sys
sys.path.append("..")
from helpers import invalid_fips, remove_cols

In [180]:
asian_data_path = "~/ASR-PM2.5/datasets/input_datasets/Asian_subgroup/2015Asiansubgroupdataset.csv"

asian_data = pd.read_csv(asian_data_path, dtype = {"FIPS": str}).dropna()

In [181]:
spec_chars = ["!",'"',"#","%","&","'","(",")","*","+",",","-",".","/",":",";","<",
              "=",">","?","@","[","\\","]","^","_","`","{","|","}","~","–",
              str(1), str(2), str(3), str(4), str(5), str(6), str(7), str(8), str(9), str(0)]

for char in spec_chars:
    asian_data["POPGROUP_LABEL"] = asian_data["POPGROUP_LABEL"].str.replace(char, "")

asian_data["POPGROUP_LABEL"] = asian_data["POPGROUP_LABEL"].str.replace(" or", " ")
asian_data["POPGROUP_LABEL"] = asian_data["POPGROUP_LABEL"].str.replace(" AZ", " ")

asian_data["POPGROUP_LABEL"] = asian_data["POPGROUP_LABEL"].str.split().str.join(" ")

/var/folders/xs/xr5mc0wn26g78w7wsfh6hcph0000gq/T/ipykernel_52754/4208776726.py:6: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  asian_data["POPGROUP_LABEL"] = asian_data["POPGROUP_LABEL"].str.replace(char, "")

In [182]:
asian_data_updated = asian_data.rename(columns = {"B01003_001E": "estimated_pop"})

In [183]:
asian_data_updated

,GEO_ID,FIPS,POPGROUP,POPGROUP_LABEL,NAME,estimated_pop,B01003_001M
1,0500000US06081,06081,26,Pakistani alone,"San Mateo County, California",1017,369
2,0500000US25027,25027,13,Asian Indian alone,"Worcester County, Massachusetts",11017,1036
3,0500000US37081,37081,34,Cambodian alone in any combination,"Guilford County, North Carolina",1227,519
4,0500000US53033,53033,17,Chinese except Taiwanese alone,"King County, Washington",79421,2516
5,0500000US04013,04013,33,Bangladeshi alone in any combination,"Maricopa County, Arizona",1415,463
...,...,...,...,...,...,...,...
5467,0500000US40031,40031,41,Japanese alone in any combination,"Comanche County, Oklahoma",795,322
5468,0500000US42071,42071,42,Korean alone in any combination,"Lancaster County, Pennsylvania",845,257
5469,0500000US36085,36085,48,Vietnamese alone in any combination,"Richmond County, New York",831,415
5470,0500000US37067,37067,42,Korean alone in any combination,"Forsyth County, North Carolina",742,233
5471,0500000US48039,48039,48,Vietnamese alone in any combination,"Brazoria County, Texas",5060,1449

In [184]:
asian_fips = asian_data_updated["FIPS"]
asian_fips

1       06081
2       25027
3       37081
4       53033
5       04013
        ...
5467    40031
5468    42071
5469    36085
5470    37067
5471    48039
Name: FIPS, Length: 5471, dtype: object

In [185]:
invalid_asian_fips = invalid_fips(asian_fips)
assert len(invalid_asian_fips) == 0

In [186]:
asian_name = asian_data_updated["NAME"]

In [187]:
asian_name

1          San Mateo County, California
2       Worcester County, Massachusetts
3       Guilford County, North Carolina
4               King County, Washington
5              Maricopa County, Arizona
                     ...
5467          Comanche County, Oklahoma
5468     Lancaster County, Pennsylvania
5469          Richmond County, New York
5470     Forsyth County, North Carolina
5471             Brazoria County, Texas
Name: NAME, Length: 5471, dtype: object

In [188]:
asian_data_updated.columns

Index(['GEO_ID', 'FIPS', 'POPGROUP', 'POPGROUP_LABEL', 'NAME', 'estimated_pop',
       'B01003_001M'],
      dtype='object')

In [189]:
keep_cols = ["FIPS", "POPGROUP", "estimated_pop", "POPGROUP_LABEL"]

In [190]:
remove_cols(asian_data_updated, keep_cols)
asian_data_updated.columns

Index(['FIPS', 'POPGROUP', 'POPGROUP_LABEL', 'estimated_pop'], dtype='object')

In [191]:
asian_data_output_path = "~/ASR-PM2.5/datasets/intermediate_datasets/resultforasiandataset.csv"

In [192]:
asian_data_updated.to_csv(asian_data_output_path)

In [16]:
data = {'first_column':  ['first_value', 'second_value'],
        'second_column': ["12345", "1234"]}

df = pd.DataFrame(data)

df

   first_column second_column
0   first_value         12345
1  second_value          1234

In [17]:
invalid_random = invalid_fips(df["second_column"])
assert len(invalid_random) == 1

In [75]:
for value in df.second_column:
    if (len(invalid_random != 0)) is True:
        df.drop(value, inplace = True, axis = 0)

TypeError: object of type 'bool' has no len()