In [131]:
%reload_ext autoreload
%autoreload 2

import numpy as np
import pandas as pd
import sys
sys.path.append("data_resolution")
from resolution_helpers import invalid_fips, remove_cols

In [132]:
asian_data_path = "~/ASR-PM2.5/datasets/input_datasets/Asian_subgroup/2015Asiansubgroupdataset.csv"

asian_data = pd.read_csv(asian_data_path, dtype = {"FIPS": str}).dropna()

In [133]:
asian_data_updated = asian_data.rename(columns = {"B01003_001E": "estimated_pop"})

In [134]:
asian_data_updated

,GEO_ID,FIPS,POPGROUP,POPGROUP_LABEL,NAME,estimated_pop,B01003_001M
1,0500000US06081,06081,26,Pakistani alone (445),"San Mateo County, California",1017,369
2,0500000US25027,25027,13,Asian Indian alone (400-401),"Worcester County, Massachusetts",11017,1036
3,0500000US37081,37081,34,Cambodian alone or in any combination (405-409...,"Guilford County, North Carolina",1227,519
4,0500000US53033,53033,17,Chinese (except Taiwanese) alone (410-411),"King County, Washington",79421,2516
5,0500000US04013,04013,33,Bangladeshi alone or in any combination (402) ...,"Maricopa County, Arizona",1415,463
...,...,...,...,...,...,...,...
5467,0500000US40031,40031,41,Japanese alone or in any combination (430-439)...,"Comanche County, Oklahoma",795,322
5468,0500000US42071,42071,42,Korean alone or in any combination (440-441) &...,"Lancaster County, Pennsylvania",845,257
5469,0500000US36085,36085,48,Vietnamese alone or in any combination (450-45...,"Richmond County, New York",831,415
5470,0500000US37067,37067,42,Korean alone or in any combination (440-441) &...,"Forsyth County, North Carolina",742,233
5471,0500000US48039,48039,48,Vietnamese alone or in any combination (450-45...,"Brazoria County, Texas",5060,1449

In [135]:
asian_fips = asian_data_updated["FIPS"]
asian_fips

1       06081
2       25027
3       37081
4       53033
5       04013
        ...
5467    40031
5468    42071
5469    36085
5470    37067
5471    48039
Name: FIPS, Length: 5471, dtype: object

In [136]:
invalid_asian_fips = invalid_fips(asian_fips)
assert len(invalid_asian_fips) == 0

In [137]:
asian_name = asian_data_updated["NAME"]

In [138]:
asian_name

1          San Mateo County, California
2       Worcester County, Massachusetts
3       Guilford County, North Carolina
4               King County, Washington
5              Maricopa County, Arizona
                     ...
5467          Comanche County, Oklahoma
5468     Lancaster County, Pennsylvania
5469          Richmond County, New York
5470     Forsyth County, North Carolina
5471             Brazoria County, Texas
Name: NAME, Length: 5471, dtype: object

In [139]:
zip(asian_data_updated.POPGROUP, asian_data_updated.POPGROUP_LABEL)

In [140]:
dict(zip(asian_data_updated.POPGROUP, asian_data_updated.POPGROUP_LABEL))

{'26': 'Pakistani alone (445)',
 '13': 'Asian Indian alone (400-401)',
 '34': 'Cambodian alone or in any combination (405-409) & (100-299) or (300, A01-Z99) or (400-999)',
 '17': 'Chinese (except Taiwanese) alone (410-411)',
 '33': 'Bangladeshi alone or in any combination (402) & (100-299) or (300, A01-Z99) or (400-999)',
 '20': 'Hmong alone (422)',
 '22': 'Japanese alone (430-439)',
 '47': 'Thai alone or in any combination (447-449) & (100-299) or (300, A01-Z99) or (400-999)',
 '32': 'Asian Indian alone or in any combination (400-401) & (100-299) or (300, A01-Z99) or (400-999)',
 '35': 'Chinese alone or in any combination (410-419) & (100-299) or (300, A01-Z99) or (400-999)',
 '43': 'Laotian alone or in any combination (442) & (100-299) or (300, A01-Z99) or (400-999)',
 '48': 'Vietnamese alone or in any combination (450-459) & (100-299) or (300, A01-Z99) or (400-999)',
 '42': 'Korean alone or in any combination (440-441) & (100-299) or (300, A01-Z99) or (400-999)',
 '29': 'Vietnamese alone (450-459)',
 '28': 'Thai alone (447-449)',
 '19': 'Filipino alone (420-421)',
 '38': 'Filipino alone or in any combination (420-421) & (100-299) or (300, A01-Z99) or (400-999)',
 '39': 'Hmong alone or in any combination (422) & (100-299) or (300, A01-Z99) or (400-999)',
 '44': 'Malaysian alone or in any combination (443) & (100-299) or (300, A01-Z99) or (400-999)',
 '41': 'Japanese alone or in any combination (430-439) & (100-299) or (300, A01-Z99) or (400-999)',
 '16': 'Chinese alone (410-419)',
 '23': 'Korean alone (440-441)',
 '36': 'Chinese (except Taiwanese) alone or in any combination (410-411) & (100-299) or (300, A01-Z99) or (400-999)',
 '81': 'Burmese alone or in any combination (404) & (100-299) or (300, A01-Z99) or (400-999)',
 '18': 'Taiwanese alone (412-419)',
 '14': 'Bangladeshi alone (402)',
 '15': 'Cambodian alone (405-409)',
 '45': 'Pakistani alone or in any combination (445) & (100-299) or (300, A01-Z99) or (400-999)',
 '24': 'Laotian alone (442)',
 '37': 'Taiwanese alone or in any combination (412-419) & (100-299) or (300, A01-Z99) or (400-999)',
 '40': 'Indonesian alone or in any combination (423-429) & (100-299) or (300, A01-Z99) or (400-999)',
 '46': 'Sri Lankan alone or in any combination (446) & (100-299) or (300, A01-Z99) or (400-999)',
 '84': 'Nepalese alone or in any combination (472) & (100-299) or (300, A01-Z99) or (400-999)',
 '73': 'Burmese alone (404)',
 '27': 'Sri Lankan alone (446)',
 '21': 'Indonesian alone (423-429)',
 '80': 'Bhutanese alone or in any combination (403) & (100-299) or (300, A01-Z99) or (400-999)',
 '76': 'Nepalese alone (472)',
 '83': 'Mongolian alone or in any combination (465) & (100-299) or (300, A01-Z99) or (400-999)',
 '75': 'Mongolian alone (465)',
 '25': 'Malaysian alone (443)',
 '72': 'Bhutanese alone (403)',
 '85': 'Okinawan alone or in any combination (444) & (100-299) or (300, A01-Z99) or (400-999)'}

In [141]:
asian_data_updated.columns

Index(['GEO_ID', 'FIPS', 'POPGROUP', 'POPGROUP_LABEL', 'NAME', 'estimated_pop',
       'B01003_001M'],
      dtype='object')

In [142]:
keep_cols = ["FIPS", "POPGROUP", "estimated_pop", "POPGROUP_LABEL"]

In [143]:
remove_cols(asian_data_updated, keep_cols)
asian_data_updated.columns

Index(['FIPS', 'POPGROUP', 'POPGROUP_LABEL', 'estimated_pop'], dtype='object')

In [144]:
asian_data_output_path = "~/ASR-PM2.5/datasets/intermediate_datasets/resultforasiandataset.csv"

In [145]:
asian_data_updated.to_csv(asian_data_output_path)