In [12]:
%reload_ext autoreload
%autoreload 2

import numpy as np
import pandas as pd
import sys
sys.path.append("..")
from helpers import invalid_fips, remove_cols

In [13]:
pm_data_path = "~/ASR-PM2.5/datasets/input_datasets/pm2.5/2015pm2.5dataset.csv"
pm_data = pd.read_csv(pm_data_path, dtype = {"fips": str}).dropna()

In [14]:
# renaming for future merging of both data-resolution datasets

pm_data_updated = pm_data.rename(columns = {"fips": "FIPS"})

In [15]:
pm_data_updated

       FIPS pollutant  year  pred_wght state_abbr        lat         lon
0     01001      pm25  2015   7.676696         AL  32.500383  -86.494186
1     01003      pm25  2015   7.371883         AL  30.548923  -87.762466
2     01005      pm25  2015   7.238605         AL  31.844037  -85.309929
3     01007      pm25  2015   7.927948         AL  33.030918  -87.127655
4     01009      pm25  2015   7.987579         AL  33.955246  -86.591402
...     ...       ...   ...        ...        ...        ...         ...
3104  56037      pm25  2015   4.108004         WY  41.580269 -109.294956
3105  56039      pm25  2015   3.750280         WY  43.494176 -110.784367
3106  56041      pm25  2015   4.887007         WY  41.271860 -110.767416
3107  56043      pm25  2015   5.353960         WY  44.012141 -107.911548
3108  56045      pm25  2015   4.592551         WY  43.910216 -104.312642

[3109 rows x 7 columns]

In [16]:
pm_fips = pm_data_updated["FIPS"]

In [17]:
pm_fips

0       01001
1       01003
2       01005
3       01007
4       01009
        ...
3104    56037
3105    56039
3106    56041
3107    56043
3108    56045
Name: FIPS, Length: 3109, dtype: object

In [18]:
invalid_pm_fips = invalid_fips(pm_fips)
assert len(invalid_pm_fips) == 0

In [19]:
keep_cols = ["FIPS", "pred_wght"]

In [20]:
remove_cols(pm_data_updated, keep_cols)

In [21]:
pm_data_updated.to_csv("~/ASR-PM2.5/datasets/intermediate_datasets/resultforpm2.5dataset.csv")